<!-- hunting-list.component.html -->

<div class="container mt-5">
    <div class="d-flex justify-content-between">
      <h5>Hunting List</h5>
      <a routerLink="/hunting/create" class="btn shadow mb-3 rounded" style="background-color: #0c151e; color: #f9eeb9;">
        <b>+</b> Add Member
      </a>
    </div>
  
    <div class="bg-white rounded-4 shadow p-3 mb-5  my-3">
      <table class="table align-middle mb-0 bg-white btn-rounded p-2">
        <thead class="bg-light">
          <tr>
            <th>ID</th>
          
            <th>Competition Date</th>
            <th>Member</th>
            <th>Fish</th>
            <th>number Of Fish</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let hunt of huntList">
            <td>{{ hunt.id }}</td>
            <td>{{ hunt.competition.date | date}}</td>
            <td>{{ hunt.member.name }}</td>
            <td>{{ hunt.numberOfFish }}</td>
            <td>{{ hunt.fish.name }}</td>
            <td>
              <button class="btn btn-outline-info btn-rounded btn-sm mx-1 shadow bg-info bg-opacity-25" (click)="viewHunt(hunt.id)">View</button>
              <button class="btn btn-outline-warning btn-rounded btn-sm mx-1 shadow bg-warning bg-opacity-25" (click)="editHunt(hunt.id)">Edit</button>
              <button class="btn btn-outline-danger btn-rounded btn-sm mx-1 shadow bg-danger bg-opacity-25" (click)="deleteHunt(hunt.id)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  