<!-- fish-list.component.html -->
<div id="toast-container" class="position-fixed top-0 let p-3" style="z-index: 11"></div>

<div class=" mt-5">
    <div class="d-flex justify-content-between"> 
      <h4> <img class="mx-3" width="50" height="50" src="https://img.icons8.com/officel/50/000000/fish.png" alt="fish"/> Fishes</h4>
      <a routerLink="/fish/create" class="btn shadow mb-3 rounded" style="background-color: #0c151e; color: #f9eeb9;"> <b>+</b> Add fish</a>
    </div>
  
    <div class="bg-white rounded-4 shadow p-3 mb-5 my-3">
      <table class="table align-middle mb-0 bg-white btn-rounded p-2">
        <thead class="bg-light">
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Average Weight</th>
            <th>Level</th>
            <th class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let fish of fishes">
           

            <td  style="color: #004bad; font-family: Impact, 'Arial Narrow Bold', sans-serif;">{{ fish.id }}</td>
            <td>{{ fish.name }}</td>
            <td>{{ fish.averageWeight }}</td>
            <td  style="color: #ff0a0a; font-family: Impact, 'Arial Narrow Bold', sans-serif;">{{ fish.level.code }}</td>
            <td class="text-center">
              <button class="btn btn-outline-info btn-rounded btn-sm mx-1 shadow bg-info bg-opacity-25" (click)="viewFish(fish.id)">View</button>
              <button class="btn btn-outline-danger btn-rounded btn-sm mx-1 shadow bg-danger bg-opacity-25" (click)="deleteFish(fish.id)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  