
      <div class="w-100 fw-semibold" style="background-color: #0c151e;">
          <div class="d-flex flex-column align-items-center align-items-sm-start  text-white min-vh-100" style="color: #f9eeb9;">
              <a href="/" class="d-flex align-items-center  mb-md-0 me-md-auto text-white text-decoration-none">
                 
              </a><img src="../../../assets/logo/logo.jpg" alt="logo" width="100%">
              <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start my-3" id="menu">
                  <li class="nav-item">
                      <a routerLink="/competitions"  class="nav-link align-middle px-0">
                        <img class="mx-3" width="30" height="30" src="https://img.icons8.com/external-smashingstocks-mixed-smashing-stocks/30/f9eeb9/external-competition-business-and-teamwork-smashingstocks-mixed-smashing-stocks.png" 
                        alt="external-competition-business-and-teamwork-smashingstocks-mixed-smashing-stocks"/><span class="ms-1 d-none d-sm-inline " style="color: #f9eeb9;">Competition</span>
                      </a>
                  </li>

                  <li>
                      <a class="nav-link px-0 align-middle"  >
                        <img class="mx-3" width="30" height="30"  src="https://img.icons8.com/ios-filled/30/f9eeb9/features-list.png" alt="features-list"/> <span class="ms-1 d-none d-sm-inline "style="color: #f9eeb9;" >Level</span> </a>
                  </li>
                  <li>
                    <a routerLink="/hunting"   class="nav-link px-0 align-middle">
                        <img  class="mx-3" width="30" height="30" width="30" height="30" src="https://img.icons8.com/ios/30/f9eeb9/fishing-pole.png" alt="fishing-pole"/>  <span class="ms-1 d-none d-sm-inline " style="color: #f9eeb9;">Hunting</span> </a>
                </li>
                <li>
                  <a routerLink="/members"  class="nav-link px-0 align-middle">
                    <img class="mx-3" width="30" height="30" src="https://img.icons8.com/ios-filled/30/f9eeb9/user.png" alt="user"/>   <span class="ms-1 d-none  d-sm-inline " style="color: #f9eeb9;">Member</span> </a>
              </li>
              <li>
                <a href="#" routerLink="/rankings"  class="nav-link px-0 align-middle">
                    <img class="mx-3" width="30" height="30" src="https://img.icons8.com/f9eeb9/30/leaderboard.png" alt="leaderboard"/> <span class="ms-1 d-none d-sm-inline " style="color: #f9eeb9;">Ranking</span> </a>
            </li>
            <li>
              <a href="#" class="nav-link px-0 align-middle" routerLink="/fish" >
                <img class="mx-3" width="30" height="30" src="https://img.icons8.com/officel/30/000000/fish.png" alt="fish"/>   <span class="ms-1 d-none d-sm-inline " style="color: #f9eeb9;">Fish</span>
              </a>
          </li>
              </ul>


          </div>
      </div>

