<div id="toast-container" class="position-fixed top-0 let p-3" style="z-index: 11"></div>
<div class="d-flex justify-content-center"><form (ngSubmit)="createHunting()" class="bg-white w-75 rounded-4 shadow p-3" [formGroup]="huntingForm">
  <h5 class="px-3 mb-3 text-center">Form Create Hunting</h5>
  <div class="mb-3 px-3">
    <label for="numberOfFish" class="form-label">Number of Fish</label>
    <input type="number" class="form-control border-bottom border-0 border-secondary border-3" id="numberOfFish"
      formControlName="numberOfFish" required>
  </div>
  <div class="mb-3 px-3">
    <label for="competitionId" class="form-label">Competition</label>
    <select class="form-select border-bottom border-0 border-secondary border-3" id="competitionId"
      formControlName="competitionId" required>
      <option *ngFor="let competition of competitions" [ngValue]="competition.id">{{ competition.location }} - {{
        competition.date | date }}</option>
    </select>
  </div>
  <div class="mb-3 px-3">
    <label for="memberNum" class="form-label">Member</label>
    <select class="form-select border-bottom border-0 border-secondary border-3" id="memberNum"
      formControlName="memberNum" required>
      <option *ngFor="let member of members" [ngValue]="member.num">{{ member.num }}</option>
    </select>
  </div>
  <div class="mb-3 px-3">
    <label for="fishId" class="form-label">Fish</label>
    <select class="form-select border-bottom border-0 border-secondary border-3" id="fishId" formControlName="fishId"
      required>
      <option *ngFor="let fish of fishes" [ngValue]="fish.id">{{ fish.name }} - {{ fish.averageWeight }} kg</option>
    </select>
  </div>
  <div class="d-flex justify-content-center">
    <button type="submit" class="btn shadow mb-5 rounded" style="background-color: #0c151e; color: #f9eeb9;">Create
      Hunting</button>
    <button routerLink="/hunting" type="submit" class=" mx-2 btn shadow mb-5 rounded"
      style="background-color: #1978d6; color: #f9eeb9;">Huntings</button>
  </div>
</form></div>