<!-- level-create.component.html -->
<div id="toast-container" class="position-fixed top-0 let p-3" style="z-index: 11"></div>

<div class="container">
    <div class="d-flex justify-content-center">
      <form (submit)="createLevel()" class="bg-white w-75 rounded-4 shadow p-3 bg-body-tertiar">
        <h5 class="px-3 mb-3 text-center">Form Create Level</h5>
        <div class="mb-3 px-3">
          <label for="description" class="form-label">Description</label>
          <input type="text" class="form-control border-bottom border-0 border-secondary border-3" id="description"
            [(ngModel)]="newLevel.description" name="description" required>
        </div>
        <div class="mb-3 px-3">
          <label for="points" class="form-label">Points</label>
          <input type="number" class="form-control border-bottom border-0 border-secondary border-3" id="points"
            [(ngModel)]="newLevel.points" name="points" required>
        </div>
        <div class="d-flex justify-content-center">
          <button type="submit"  class="btn shadow shadow mb-5 rounded"
            style="background-color: #0c151e; color: #f9eeb9">Create Level</button>
            <button  routerLink="/levels" type="submit" class="btn mx-2 shadow shadow mb-5 rounded"
            style="background-color: #67b3ff; color: #f9eeb9">Levels</button>
        </div>
      </form>
    </div>
  </div>
  