<!-- ranking-list.component.html -->

<div class="container mt-5">
    <div class="d-flex justify-content-between">
      <h5>Ranking List</h5>
    </div>
  
    <div class="bg-white rounded-4 shadow p-3 mb-5 bg-body-tertiary my-3">
      <table class="table align-middle mb-0 bg-white btn-rounded p-2">
        <thead class="bg-light">
          <tr>
            <th>Rank</th>
            <th>Score</th>
            <th>Competition</th>
            <th>Member</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ranking of rankings ">
            <td>{{ ranking.rank }}</td>
            <td>{{ ranking.score }}</td>
            <td>{{ ranking.competition.location }} - {{ ranking.competition.date | date }}</td>
            <td>{{ ranking.member.name }} {{ ranking.member.familyName }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>