<div class="container ">
    
    <div class="d-flex justify-content-center">
    <form (submit)="createCompetition()" class="w-50">
      <div class="mb-3">
        <label for="date" class="form-label">Date</label>
        <input type="date" class="form-control  border-bottom border-0 border-primary border-3" id="date" [(ngModel)]="newCompetition.date" name="date" required>
      </div>
      <div class="mb-3">
        <label for="startTime" class="form-label">Start Time</label>
        <input type="time" class="form-control  border-bottom border-0 border-primary border-3" id="startTime" [(ngModel)]="newCompetition.startTime" name="startTime" required>
      </div>
      <div class="mb-3">
        <label for="endTime" class="form-label">End Time</label>
        <input type="time" class="form-control  border-bottom border-0 border-primary border-3" id="endTime" [(ngModel)]="newCompetition.endTime" name="endTime" required>
      </div>
      <div class="mb-3">
        <label for="numberOfParticipants" class="form-label">Number of Participants</label>
        <input type="number" class="form-control  border-bottom border-0 border-primary border-3" id="numberOfParticipants" [(ngModel)]="newCompetition.numberOfParticipants" name="numberOfParticipants" required>
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input type="text" class="form-control  border-bottom border-0 border-primary border-3"  id="location" [(ngModel)]="newCompetition.location" name="location" required>
      </div>
      <div class="mb-3">
        <label for="amount" class="form-label">Amount</label>
        <input type="number" class="form-control  border-bottom border-0 border-primary border-3" id="amount" [(ngModel)]="newCompetition.amount" name="amount" required>
      </div>
      <button type="submit" class="btn btn-succses  border-bottom border-0 border-primary border-3">Create Competition</button>
    </form>
</div>
  </div>
  