<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <div class="d-flex justify-content-between">
        <h4>
          <img class="mx-3" width="50" height="50" src="https://img.icons8.com/ios-filled/50/00000/user.png"
            alt="user" /> Members
        </h4>
        <a routerLink="/members/create" class="btn shadow mb-3 rounded"
          style="background-color: #0c151e; color: #f9eeb9;">
          <b>+</b> Add Member
        </a>
      </div>
      <div class="bg-white rounded-4 shadow mb-5 bg-body-tertiary my-3">
        <div class="bg-white rounded-4 p-3 mb-5 my-3">
          <label for="statusFilter" class="form-label"> Search Member :</label>
          <input type="text" class="form-control border-bottom border-0 border-secondary border-3"
            placeholder="Search by Number, Name, or Family Name" [(ngModel)]="searchTerm" (input)="filterMembers()" />
          <div class="table-responsive">
            <table class="table align-middle mb-0 p-2">
              <thead class="bg-light">
                <tr>
                  <th>Number</th>
                  <th>Name</th>
                  <th>Family Name</th>
                  <th>Accession Date</th>
                  <th>Nationality</th>
                  <th>ID Type</th>
                  <th>Identity Number</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let member of filteredMembers">
                  <td>{{ member.num }}</td>
                  <td>{{ member.name }}</td>
                  <td>{{ member.familyName }}</td>
                  <td>{{ member.accessionDate | date }}</td>
                  <td>{{ member.nationality }}</td>
                  <td>{{ member.identityDocument }}</td>
                  <td>{{ member.identityNumber }}</td>
                  <td>
                    <button class="btn btn-outline-info btn-rounded btn-sm mx-1 shadow bg-info bg-opacity-25"
                      (click)="viewMember(member.num)">View</button>
                    <button class="btn btn-outline-warning btn-rounded btn-sm mx-1 shadow bg-warning bg-opacity-25"
                      (click)="editMember(member.num)">Edit</button>
                    <button class="btn btn-outline-danger btn-rounded btn-sm mx-1 shadow bg-danger bg-opacity-25"
                      (click)="deleteMember(member.num)">Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="toast-container" class="position-fixed top-0 left p-3" style="z-index: 11"></div>
